venv/
.vscode/
.venv/
data/
src/__pycache__/
notebooks/__pycache__/
notebooks/.ipynb_checkpoints/
notebooks/.vscode/
notebooks/.venv/
notebooks/data/
notebooks/src/__pycache__/
notebooks/src/.vscode/
notebooks/src/.venv/
notebooks/src/data/
notebooks/src/__pycache__/
notebooks/src/.vscode/
notebooks/src/.venv/
src\__pycache__/

pyrightconfig.json
Hackathon_Guide.pdf
sample_submission.csv